doctype html
html
  head
    meta(charset='UTF-8')
    title Kaginawa
    link(rel='stylesheet', href='/assets/css/app.css')
  body
    header
      h1 Hello, world!
    script(src='/assets/js/bundle.js')
